<footer>
  
  <div class="footerSection1">
  <div class="container-fluid">    
    <div class="row px-4 py-5">
        <div class="col-sm-2"> </div>
                 
        <div class="col-sm-2">  
             <h4>Microsoft Azure Account</h4> 
             <p>You will need a valid and active Azure account. You can sign up for a free azuer account and enjoy 12 months of services</p>
             <a href="https://azure.microsoft.com/en-us/free/"  target="_blank">
             <button class="w3-button w3-black w3-border w3-border-white w3-round-large"style="
             background-color: transparent;
             color: white;
             cursor: pointer;
             padding: 10px;
         "><strong>Create your free account</strong></button></a>
        </div>  
        <div class="col-sm-1"> </div>
          <div class="col-sm-2">  
          <h4>Azure DevOps </h4> 
          <p>Easily set up automated pipelines to build, test, and deploy your code to any platform. If you don’t have one, sign up for one</p>
          <a href="https://azure.microsoft.com/en-us/services/devops/"  target="_blank">
          <button class="w3-button w3-black w3-border w3-border-white w3-round-large"style="
             background-color: transparent;
             color: white;
             cursor: pointer;
             padding: 10px;
         "><strong>Try for free</strong></button></a>
        </div>
          <div class="col-sm-1"> </div>
      <div class="col-sm-2">
          <h4>Azure DevOps Demo Generator</h4> 
          <p>Provision a project with pre-defined data on to your Azure DevOps services organization. </p><br />
          <a href="https://azuredevopsdemogenerator.azurewebsites.net/" target="_blank">
          <button class="w3-button w3-black w3-border w3-border-white w3-round-large"style="
             background-color: transparent;
             color: white;
             cursor: pointer;
             padding: 10px;
         "><strong>Learn more</strong></button></a>
              </div>
    </div>
  </div>
</div>
  <div class="footerSection2">
      <div class="container-fluid">
    <div class="row px-4 py-5">
      <div class="col-sm-3"> 
        <p>Go Social</p>
        <!--div class="sharethis-inline-share-buttons"></div-->
        <ul class="list-unstyled">
          <li><i class="fab fa-facebook"></i>Facebook</li>
          <li><i class="fab fa-linkedin-in"></i>LinkedIn</li>
          <li></li>
        </ul>         
        </div>
        <div class="col-sm-3"> 
            <p>DevOps Resources</p>
            <ul class="list-unstyled">
              <li><a href="https://docs.microsoft.com/en-us/azure/devops/learn/">DevOps Resource Center</a></li>
              <li><a href="https://docs.microsoft.com/en-us/azure/devops/index?view=azure-devops"> Azure DevOps Documentation </a></li>
              <li><a href="https://www.youtube.com/channel/UC-ikyViYMM69joIAv7dlMsA">Azure DevOps Videos</a></li>
            </ul> 
          </div>
          <div class="col-sm-3"> 
              <p>Additional Links</p>
              <ul class="list-unstyled">
              <li>Azure Tips and Tricks</li>
              <li><a href="https://aka.ms/appcenterdemogenerator" target="_blank">App Center Demo Generator</a></li>
              <li><a href="https://aka.ms/TailwindTraders" target="_blank">Tailwind Traders Repo on GitHub</a></li>
            </ul> 
            </div>
            <div class="col-sm-3"> 
                <p>Other Links</p>
                <ul class="list-unstyled">
                  <li><a href="mailto:devopsdemos@microsoft.com">Contact us</a></li>
                  <li></li><a href="https://github.com/Microsoft/azuredevopslabs/issues" target="_blank">Feedback</a></li>
                  <li><a href="https://github.com/Microsoft/azuredevopslabs" target="_blank"></a>GitHub Page</li>
                </ul>
              </div>
    </div> 
  </div>     
  </div>
  <hr color="#80cae5" size="3" width="100%">	                
               &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br />	   <br />	   
</footer>